@import 'main.css';

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

svg,
pre,
.typoDesignSystemBox span,
.typoDesignSystemBox p,
.designSystemItems li {
    color: white;
}
h3 {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    text-align: left;
}

/* header */ 
.dwnlFiles {
    display: flex;
    flex-direction: column;
}

/* img */
#wrapper img {
    align-items: center;
    box-shadow: 1px 5px 20px #373737;
    border-radius: 10px;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0;
    opacity: .8;
    width: 100%;
}
#wrapper img:hover {
    transform: scale(1.005);
    transition: .5s;
    opacity: 1;
}

/* pages, components, foundations, features */
.designSystemBox {
    display: flex;
    justify-content: center;
}
.designSystemItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    width: 100%;
}
.designSystemItems li {
    list-style-type: disc;
    list-style-position: outside;
}

/* typography blog-website */
.typoDesignSystemBox,
.colorDesignSystem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.typoDesignSystemBox span,
.typoDesignSystemBox p {
    display: flex;
    justify-content: center;
    text-align: center;
}
.title span {
    font-family: 'Crimson Text', serif;
    font-size: 64px;
}
.heading1 span,
.heading2 span,
.subheading span,
.para span  {
    font-family: 'Gloria Hallelujah', cursive;
}
.heading1 span {
    font-size: 40px;
}
.heading2 span {
    font-size: 36px;
}
.subheading span {
    font-size: 32px;
}
.para span {
    font-size: 12px;
}
.input span {
    font-family: 'Cutive Mono', monospace;
    font-size: 12px;
}

/* typography landing-page */
.heading span,
.section span,
.p span,
.li span {
    font-family: 'Source Code Pro', monospace;
}
.heading span {
    font-size: 60px;
}
.section span {
    font-size: 40px;
}
.p span {
    font-size: 20px;
}
.li span {
    font-size: 18px;
}

/* color */
@media (min-width: 800px) {
    .colorCircles {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 40px;
    }
}
@media (max-width: 800px) {
    .colorCircles {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}
.whiteCircle,
.blackCircle,
.grayCircle,
.blueCircle,
.blackCircleLP,
.blueCircleLP {
    border-radius: 180px;
    height: 200px;
    width: 200px;
}
.whiteCircle {
    background-color: white;
}
.blackCircle {
    background-color: black;
    border: 1px solid white;
}
.grayCircle {
    background-color: #d5d6d7;
}
.blueCircle {
    background-color: #8f9ab9;
}
.blackCircleLP {
    background-color: #010101;
    border: 1px solid white;
}
.blueCircleLP {
    background-color: #001029;
    border: 1px solid white;
}

/* buttons, patterns */
@media (min-width: 800px) {
    .buttonSystemDesign {
        align-items: center;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        padding-bottom: 40px;
    }
}
@media (max-width: 800px) {
    .buttonSystemDesign {
        align-items: center;
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 50% 50%; */
        justify-content: center;
    }
}
.buttonSystemDesign p {
    text-align: right;
}
button {
    background-color: #bdbdbd;
    border: 1px solid #bdbdbd;
    color: black;
    height: 45px;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    width: 180px;
}
button:hover {
    background-color: #8f9ab9;
    border: 1px solid #8f9ab9;
    color: black;
    cursor: pointer;
    transition: .5s;
}
pre {
    border-bottom: 1px solid #8f9ab9;
    border-right: 1px solid #8f9ab9;
    border-bottom-right-radius: 10px;
    padding: 10px;
    text-align: left;
}

/* icons */
svg {
    height: 60px;
    width: 100%;
}
svg:hover {
    color: #8f9ab9;
    cursor: pointer;
}
.iconsDesignSystemBox {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
}

